image: node:20-alpine

stages:
  - build
  - deploy

variables:
  npm_config_cache: "$CI_PROJECT_DIR/.npm"

cache:
  key: ${CI_COMMIT_REF_SLUG}
  paths:
    - .npm
    - node_modules/

build:
  stage: build
  script:
    - |
      echo "VITE_GITLAB_URL=${VITE_GITLAB_URL}" > .env
      echo "VITE_GITLAB_TOKEN=${VITE_GITLAB_TOKEN}" >> .env
      echo "VITE_GITLAB_PROJECT_ID=${VITE_GITLAB_PROJECT_ID}" >> .env
    - npm ci
    - npm run build
  artifacts:
    paths:
      - dist
    expire_in: 1 hour
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
    - if: $CI_MERGE_REQUEST_IID

pages:
  stage: deploy
  tags:
    - docker-ci-pages
  script:
    - mkdir -p public
    - cp -r dist/* public/
  artifacts:
    paths:
      - public
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
  needs:
    - build
